<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/menu-options.js" defer></script>
    <%- include('../includes/font-awsome.ejs') %>
</head>

<body>

    <div class="profile">
        <div class="above-info">
            <% for(let info of profile) {%>
                <div class="img-perfil">
                    <img src="https://static-00.iconduck.com/assets.00/user-icon-2048x2048-ihoxz4vq.png" alt="">
                </div>
                <div class="info-perfil">
                    <ul class="list">
                        <li class="item">
                            <p>ID: <%=info.id_user%>
                            </p>
                        </li>
                        <li class="item">
                            <h1>
                                <%=info.name%>
                            </h1>
                        </li>
                    </ul>
                </div>
                <%}%>
        </div>
        <div class="below-info">
            <div class="option-button">
                <ul class="option-list">
                    <li class="option-list_item">
                        <div id="option-btn"><i class="fa-solid fa-ellipsis-vertical"></i></div>

                        <ul class="option-sub_list">
                            <li><a href="/">Home</a></li>
                            <hr>
                            <li><a href="/about">Sobre</a></li>
                            <hr>
                            <li><a href="/config">Configurações</a></li>
                            <hr>
                            <li><a href="/logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="above-vs-bellow"></div>
            <div class="perfil-info_body">

                <div class="bar-open_btn" id="btn-perfil-info_body__open">
                    <h3>Detalhes</h3>
                    <div class="info-opne_body__plus"><i class="fa-regular fa-eye-slash"></i> </div>
                    <div class="info-open_body__minus"><i class="fa-regular fa-eye"></i></div>
                </div>
                <div class="info-body">
                    <div class="info-body_user">
                        <h3>Minha conta</h3>
                        <div class="info-body_user__content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quos consequatur dolore
                                neque
                                doloribus nobis quas architecto, doloremque magni? Debitis vitae illum illo eius
                                voluptatibus
                                nemo corrupti quibusdam. Sed inventore aspernatur est, temporibus ipsa architecto
                                voluptas?
                                Nostrum labore, minus saepe laborum expedita cumque. Facilis maxime est sint hic a quae.
                            </p>
                        </div>

                    </div>
                    <div class="info-body_list">
                        <h3>Agendamentos</h3>

                        <div class="info-body_list__content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quos consequatur dolore
                                neque
                                doloribus nobis quas architecto, doloremque magni? Debitis vitae illum illo eius
                                voluptatibus
                                nemo corrupti quibusdam. Sed inventore aspernatur est, temporibus ipsa architecto
                                voluptas?
                                Nostrum labore, minus saepe laborum expedita cumque. Facilis maxime est sint hic a quae.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="background-body">
                    <div class="bg-body_icon">
                        <i class="fa-solid fa-lock"></i>
                        <p>click na barra de cima para visualizar suas informações</p>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="footer">
            <p>Powered by: <b><a href="#" style="color:rgb(114, 194, 231) ; text-decoration: none;">ATende-Co</b></a> ,
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </div>
    </div>
</body>

</html>