
<hr style="margin-top: 100px;">
<div class="footer">
<p>Powered by: <b ><a href="#" style="color:rgb(114, 194, 231) ; text-decoration: none;">ATende-Co</b></a> , <script>document.write(new Date().getFullYear())</script></p>
</div>