<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/athu.js" defer></script>
    <%- include('./includes/font-awsome.ejs') %>
</head>

<body>
    <%- include('./includes/navbar.ejs')%>

        <div class="about">
            <header class="about-title">
                <h3>SIGNegócios</h3>
            </header>
            <div class="about-content">
                <div class="about-descriptions">
                    <p>Sistema Integrado de Gestão de Negócios é um produto da <b
                            style="color:rgb(114, 194, 231)">ATende-Co</b>, surgiu em 2023, este sistema é
                        uma plataforma muito forte que integra várias módulo do sector de negócio como módulo de vendas,
                        controlo de stock, recursos humanos, finanças, contabilidade, auditora e a uma das partes
                        essenciais que é a Big Data Analitycs, capaz que gerar ensights para o corpo responsável pela
                        estratégia de mercado e tomada de decisões e, consequentemente alavancar as vendas com estes as
                        infos a apartir de um conjunto de dados de diferentes fontes.</p>
                    <p>Sistema Integrado de Gestão de Negócios é um produto da <b
                            style="color:rgb(114, 194, 231)">ATende-Co</b>, surgiu em 2023, este sistema é
                        uma plataforma muito forte que integra várias módulo do sector de negócio como módulo de vendas,
                        controlo de stock, recursos humanos, finanças, contabilidade, auditora e a uma das partes
                        essenciais que é a Big Data Analitycs, capaz que gerar ensights para o corpo responsável pela
                        estratégia de mercado e tomada de decisões.</p>
                    <p>Sistema Integrado de Gestão de Negócios é um produto da <b
                            style="color:rgb(114, 194, 231)">ATende-Co</b>, surgiu em 2023, este sistema é
                        uma plataforma muito forte que integra várias módulo do sector de negócio como módulo de vendas,
                        controlo de stock, recursos humanos, finanças, contabilidade, auditora e a uma das partes
                        essenciais que é a Big Data Analitycs, capaz que gerar ensights para o corpo responsável pela
                        estratégia de mercado e tomada de decisões.</p>

                </div>

                <div class="about-services">
                    <header class="title-services">
                        <h3>Serviços Integrados</h3>
                    </header>
                    <div class="services">
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Modúlo Vendas</h5>
                                <button id="read-more_service_0">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>

                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Controlo de Stock</h5>
                                <button id="read-more_service_1">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Recursos Humanos</h5>
                                <button id="read-more_service_2">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Contabilidade, Finanças e Auditória</h5>
                                <button id="read-more_service_3">
                                    <i class="fa-regular fa-angle-down"></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>

                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Big Data Analytics</h5>
                                <button id="read-more_service_4">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>Empresarial</h5>
                                <button id="read-more_service_5">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>

                    </div>

                </div>
                <div class="about-services">
                    <header class="title-services">
                        <h3>Perguntas Frequentes</h3>
                    </header>
                    <div class="services">
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_0">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>

                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_1">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_2">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_3">
                                    <i class="fa-regular fa-angle-down"></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>

                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_4">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>
                        <div class="service">
                            <hr>
                            <div class="header-service">
                                <h5>?</h5>
                                <button id="read-more_service_5">
                                    <i class="fa-regular fa-angle-down" ></i>
                                </button>
                            </div>
                            <p class="p-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore voluptate
                                eveniet, nisi reiciendis mollitia quasi ullam fuga facere sint! Lorem ipsum dolor sit,
                                amet consectetur adipisicing elit. Ut corrupti voluptatum accusamus vero dolores iure
                                possimus tempore ipsa magnam libero.</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <%- include('./includes/footer.ejs')%>
</body>

</html>