* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #0a1e2c;
    background-image: url("https://img.freepik.com/premium-photo/businessman-hand-pointing-finger-growth-success-finance-business-chart-metaverse-technology-financial-graph-investment-diagram-analysis-stock-market-background-with-digital-economy-exchange_79161-2090.jpg?w=1060");
    background-size: cover;

    z-index: -10000;
}

.container {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.416);

}

.container .title-page {
    background-color: whitesmoke;
    color: rgb(22, 160, 224);
    margin: 7% auto 1% auto;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid rgb(22, 160, 224);
    width: 30%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}

.container .title-page i {
    margin-left: 15px;
}

.container .title-form {
    color: rgb(22, 160, 224);
    padding: 10px 0px;

}

.content {
    background-color: whitesmoke;
    margin: 0% auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid rgb(22, 160, 224);

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.form {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.form .form-group {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

.form .form-group .form-label {
    margin: 5px 3px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: grey;
}

.form .form-group .form-control {
    border: none;
    border-bottom: 1px solid rgb(22, 160, 224);
    border-radius: 2px;
    padding: 10px 10px 10px 50px;
    font-size: 14px;
    letter-spacing: 1px;

    height: 20px;
}

*:focus {
    outline-color: rgb(22, 160, 224);
    outline-style: ridge;
    cursor: alias;
}

.form .form-group .fa-solid {
    padding: 10.8px 8px;
    background-color: rgb(22, 160, 224);

    color: white;
    font-size: 20px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form .form-group .fa-user {
    position: absolute;
    top: 26%;

    padding: 9px 11px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(22, 160, 224);
}

.form .form-group .fa-lock {
    position: absolute;
    top: 59%;
    padding: 9.5px 11px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(22, 160, 224);
}

.form .btn-login {

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.btn-login .btn {
    margin-top: 10px;
    width: 100%;
    height: 5vh;

    background-color: green;
    border: 1px solid green;
    border-radius: 2px;

    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;

    cursor: pointer;
}

.btn-login .btn:hover {
    background-color: rgb(75, 162, 75);
    text-decoration: underline;
}

.or {
    position: absolute;
    bottom: 17.9%;

    background-color: whitesmoke;
    padding: 0 5px;

    color: grey;
    font-size: 15px;

    z-index: 2;
}

.other-way-to_login {
    margin-top: 30px;
    margin-bottom: 20px;
}

.other-way-to_login ul {
    display: flex;
    flex-direction: row;
}

.other-way-to_login ul li {
    list-style: none;
    padding: 0 10px;
}